.container {
    width: 70%;
    margin: 100px auto;
    padding: 10px;
    background-color: #FEFCF3;
    border: 2px solid #2B3A55;

    /* Grid 실습 */
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* grid-template-rows: 100px; */
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
}

.container > div {
    background-color: #FFE15D;
}